html {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.17;
    color: black;
}
img {
    width: 100px;
}
h1 {
    font-size: 24px;
    margin-bottom: 9px;
}
p {
    font-size: 18px;
}
section {
    width: 808px;
    height: 170px;
    margin: 10px auto;
    border: black solid 1px;
    border-radius: 20px;
}
.section-1 > img {
    margin: 35px 25px;
    display: inline-block;
}
.section-1 {
    position: relative;
}
.section-1 div {
    display: inline-block;
    position: absolute;
    top: 33%;
}
.section-2 {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 25px;
}
.section2 {
    display: flex;
}
.section-3 {
    position: relative;
}
.section-3 > div {
    padding-top: 57px;
    padding-left: 150px;
}
.section-3::before {
    content: "";
    background-image: url("../img/man.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
}
.section-4 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}
.section-4 > img {
    margin: 35px 25px;
}
.section-4 > div {
    margin-top: 57px;
}
.section-5 img {
    display: inline;
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
}
.section-5 td:nth-child(2) {
    vertical-align: middle;
    padding-top: 30px;
}
.section-6 {
    column-count: 2;
}
.section-6 img {
    margin-left: 25px;
    margin-top: 35px;
}
.section-6 div {
    display: inline-block;
    margin-top: 57px;
    margin-left: -260px;
}
